<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <title>View Profile</title>
<style>
   

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
</style>
</head>
<body>
<header th:insert="header.html :: nav"></header>
<div class="container rounded bg-white mt-5">
    <div class="row">
        
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
            <span class="font-weight-bold">Edogaru</span>
            <span class="text-black-50">edogaru@mail.com.my</span><span>
             </span></div>
             <div class="mb-3">
              <form method="post" th:action="@{/profileUpload}" enctype="multipart/form-data">
				  <label for="formFileSm" class="form-label">Change Profile Picture</label>
				  <input class="form-control form-control-sm" id="formFileSm" type="file" name="file">
				  <button type="submit" class="btn btn-primary mt-2" >Upload File</button>
			  </form>
			</div>
        </div>
        <div class="col-md-9 border-right">
            <div class="col-md-12 mt-4" style="margin-bottom: -3%;"><h3>User Profile</h3></div>
            <div class="p-3 py-5">
                

                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Full Name</label><label  class="form-control" th:text="@{user.name}">XYZ</label></div>
                    <div class="col-md-6"><label class="labels">Email-id</label><label class="form-control" th:text="@{user.email}">XYZ@gmail.com</label></div>              

                
                    <div class="col-md-6"><label class="labels">Password</label><label class="form-control">*****</label></div>
                    <div class="col-md-6"><label class="labels">DOB</label><label class="form-control">11-nov-21</label></div>
                    <div class="col-md-4"><label class="labels">Gender</label><label class="form-control">Female</label></div>
                
                    <div class="col-md-4"><label class="labels">UserID</label><label class="form-control">100</label></div>
                    <div class="col-md-4"><label class="labels">UserType</label><label class="form-control">Student</label></div>
                
                    <div class="col-md-12"><label class="labels">Address</label><label class="form-control">abc colony</label></div>
                    <div class="col-md-4"><label class="labels">City</label><label class="form-control">Wardha</label></div>
                    <div class="col-md-4"><label class="labels">State</label><label class="form-control">Maharashtra</label></div>
                    <div class="col-md-4"><label class="labels">Zip Code</label><label class="form-control">442001</div> <br>
                    <div class="col-md-6"><label class="labels">Mobile Number</label><label class="form-control">1234567890</label></div>
                    <div class="col-md-6"><label class="labels">Alternate Number</label><label type="text"  class="form-control">8888899999</label></div>
                    <div class="col-md-6"><label class="labels">Aadhar Card Number</label><label class="form-control">123456789123</label></div>
                    <div class="col-md-6"><label class="labels">Pan Number</label><label class="form-control">123456723</label></div>
                    <div class="col-md-4"><label class="labels">Department Name</label><label class="form-control">123456789123</label></div>
                    <div class="col-md-4"><label class="labels">Date of joining</label><label class="form-control">11-nov-2021</label></div>
                    <div class="col-md-4"><label class="labels">Designation</label><label class="form-control">Student</label></div>
                    <div class="col-md-6"><label class="labels">Nationality</label><label class="form-control">Indian</label></div>
                    <div class="col-md-6"><label class="labels">Religion</label><label class="form-control">xxx</label></div>
                    <div class="col-md-6"><label class="labels">Category</label><label class="form-control">xxx</label></div>
                    <div class="col-md-6"><label class="labels">Caste</label><label class="form-control">xxx</label></div>
                    <div class="col-md-12"><label class="labels">Blood Group</label><label class="form-control">B+</label></div>
                </div>
            
            </div>
        </div>
        
    </div>
</div>
<div id="scroll-footer" th:insert="footer.html :: footer"></div>
</body>
</html>