<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BITMIS</title>
    <link rel="stylesheet" th:href="@{/css/table.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">

    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css}">

    <!-- Google fonts -->
    <link th:href="@{https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap}" rel="stylesheet">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>

    <style>
        button>a {
            text-decoration: none;
            color: #ac2727;
        }

        button>a:hover {
            color: white;
        }

        fas:hover {
            color: white;
        }

        fas {
            color: #42ba96;
        }

        .center{
            display: flex;
            align-items: center;
        }

    </style>
    </head>

<body class="font-size-sm">
<header th:insert="header.html :: nav"></header> 

<div class="container">
      <div class="row">
          <form>
              <div class="row justify-content-start">
                  <div class="col-md-4">
                      <div class="row">
                          <div class="col-md-4">
                              <label for="leaveType" class="col-form-label">Leave Type </label>
                          </div>
                          <div class="col-md-7">
                              <select id="leaveType" class="form-select">
                                  <option value="Type">Casual Leave </option>
                                  <option value="Type">Maternity Leave with Pay </option>
                                  <option value="Type">Maternity Leave without Pay </option>
                                  <option value="Type">Duty Leave </option>
                                  <option value="Type">Earned Leave  </option>
                                  <option value="Type">L.W.P </option>
                                  <option value="Type">Compensatory Leave </option>
                                  <option value="Type">Half Pay/Commuted Leave </option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <br><br>

                  <div class="col-md-8">
                      <div class="row">
                          <div class="col-md-5">
                              <label class="col-form-label">Number of Leaves to be Credited </label>
                          </div>
                          <div class="col-md-3">
                              <input type="number" value="NumberofLeaves" class="form-control" />
                          </div>
                      </div>
                  </div>
              </div>
              <br><br>

              <div class="justify-content-start">
                  <div class="form-check form-check-inline col-md-4">
                      <input type="radio" value="addtoall" name="radio" class="form-check-input">
                      <label class="form-check-label"> Add to All</label>
                  </div>
                  <div class="form-check form-check-inline col-md-4">
                      <input type="radio" value="addtostaff" name="radio" class="form-check-input">
                      <label class="form-check-label"> Add to Specific Staff</label>
                  </div>
              </div>
          </form>

          <div class="container mt-5 font">
              <div class="row">
                  <div class="userDetails"><strong>Results: User Details</strong></div>
              </div><br>
              <div class="row">
                  <div class="table-responsive">
                      <table class="table table-sm table-striped table-hover shadow">
                          <thead>
                              <tr>
                                  <th scope="col name">Name</th>
                                  <th scope="col user-id">UserID</th>
                                  <th scope="col mob-no">Mobile Number</th>
                                  <th scope="col department">Department</th>
                                  <th scope="col designation">Designation</th>
                                  <th scope="col action">Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td >
                                      <div class="row name justify-content-start">
                                          <div class="col-md-2 center" style="margin-left: 20px;">
                                              <img id="user-image" th:src="@{/Assets/profile.svg}" alt="">
                                          </div>
                                          <div class="col center" >
                                              <p style="margin: 0px;" >First Name Last Name<br><small>Staff</small></p>
                                          </div>
                                      </div>
                                  </td>
                                  <td>12345</td>
                                  <td>99999999999</td>
                                  <td>Computer</td>
                                  <td>Faculty</td>
                                  <td>
                                      <button type="button" class="btn btn-sm btn-outline-success"><i
                                        class="fas fa-pencil-alt"></i></a></button>
                                        <button type="button" class="btn btn-sm btn-outline-danger"><a href="edituser.html"><i
                                            class="fas fa-trash-alt"></i></button>
                                  </td>
                              </tr>
                              <tr>
                                <td >
                                    <div class="row name justify-content-start">
                                        <div class="col-md-2 center" style="margin-left: 20px;">
                                            <img id="user-image" th:src="@{/Assets/profile.svg}" alt="">
                                        </div>
                                        <div class="col center" >
                                            <p style="margin: 0px;" >First Name Last Name<br><small>Student</small></p>
                                        </div>
                                    </div>
                                </td>
                                <td>67890</td>
                                <td>66666666666</td>
                                <td>Electrical</td>
                                <td>Student</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-outline-success"><i
                                      class="fas fa-pencil-alt"></i></a></button>
                                      <button type="button" class="btn btn-sm btn-outline-danger"><a href="edituser.html"><i
                                          class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
        </div>
    </div>
</div>
</div>
      
<div id="footer" th:insert="footer.html :: footer"></div>
</body>

</html>