
.name{
    margin-left: 20px;
}

td{
    color: rgb(73, 73, 73) !important;

    
}

th{
    color: rgb(78 78 78)!important;
    font-weight: 900 !important;   
    font-family: 'Poppins', sans-serif !important;
    
}