<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title></title>
</head>
<body>
    
    <footer class="gradient-strip footer-strip">

        <div class="footer">
    
            <span>
                For any Queries or Support   : 
            </span>
    
            <div class="footer-item">
                <img src="../static/Assets/mail.svg" alt="mail">
                <span> bit@support@bitwardha.ac.in </span>
            </div>
    
    
            <div><img src="../static/Assets/phone.svg" alt="phone no.">
                <span>+91 999999999</span>
            </div>
    
        </div>
    
    </footer>



    
</body>
</html>