<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <title>Home page</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>


<section th:fragment="nav" class="header fluid-container">

    
<!-- LOGO SECTION  -->

    <div class="logo-section ">

        <div class="clg-logo ">
            <img id="clg-logo-png" src="../static/Assets/clg-logo.png" alt="">
            <img src="../static/Assets/logo-name.svg" alt="">
        </div>

        <div class="bitmis-logo">
            <span>BITMIS</span>
        </div>

    </div>

<!-- LOGO SECTION  -->

                                <!-- PROFILE-STRIP -->

<div class="profile-strip">


        <!-- SERACH_BAR -->

        
        <div class="search-bar ">

                <input id="serach-bar" type="text" value="" placeholder="Search">
                <img id="search-icon" src="../static/Assets/search.svg" alt="icon">

        </div>

        
        <!-- SERACH_BAR -->





        <!-- USER_INFO  -->
        
    <div class="profile-part ">

        <div class="user-info">

                <span id="user-department">
                        Department
                </span>

                <span id="user-role">
                    Professor
                </span>

        </div>

        <div class="user-image  ">
            <img src="../static/Assets/user.svg" alt="">
        </div>

        <img src="../static/Assets/down-arrow.svg" alt="">


    </div>

        <!-- USER_INFO  -->


    </div>

                                    <!-- PROFILE-STRIP -->


                                    

                                    <!-- HORIZONTAL-NAV -->
                                
    <div class="horizontal-nav" th:each=${...}>

        <div class="nav-item">

            <span th:text=${...} > User Management </span>

            <img src="../static/Assets/down-arrow-blue.svg" alt="">

        </div>


    </div>

                                    <!-- HORIZONTAL-NAV -->


</section>

<footer class="fluid-container footer-strip">

    <div class="footer">

        <span>
            For any Queries or Support   : 
        </span>

        <div class="footer-item">
            <img src="../static/Assets/mail.svg" alt="mail">
            <span> bit@support@bitwardha.ac.in </span>
        </div>


        <div><img src="../static/Assets/phone.svg" alt="phone no.">
            <span>+91 999999999</span>
        </div>

    </div>

</footer>







</body>
</html>